

body {
  background: #E98A45;
}


.checklist-wrapper {
    margin: 4vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .checklist-item {
    background-color: #f6f6f6;
    padding: 1rem 1.5rem;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    margin: 1vh;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  }
  
  .checklist-item:hover {
    background-color: #eeeeee;
  }
  

  .item-description {
    margin-top: 1.8rem;
    padding-left: 2.2rem;
    font-size: 0.95rem;
    color: #333;
    line-height: 1.4;
  }

  @media (min-width: 2600px) {
    .checkmark-title {
      font-size: 30px;
    }
  }