body {
  font-family: "Anton", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.layout {
  display: flex;
  height: 90vh;
  position: relative;
  background: linear-gradient(135deg, #f0e9e2 50%, #E98A45 50%);
  overflow: hidden;
  padding: 2vh;
  flex-direction: column;
}

.default-button {
  width: 50vw;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(11, 31, 126);
  color: white;
  font-size: 20px;
  margin-top: 5%;
  font-family: "Anton", sans-serif;
  align-self: center;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.default-button:hover {
  background-color: rgb(22, 44, 145);
  transform: scale(1.05);
}


.clicked-button {
  width: 45vw;
  height: 6vh;
  border-radius: 20px;
  background-color: rgb(11, 31, 126);
  color: white;
  font-size: 16px;
  margin-top: 5%;
  margin-left: 5%;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.clicked-button:hover {
  background-color: rgb(22, 44, 145);
  transform: scale(1.03);
}

.rubrik {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  gap: 1%;
  text-align: left;
  margin-left: 3%;
}

.text {
  font-size: 16px;
  max-width: 50vw;
  margin-left: 3%;
}

.handbild-container {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.statistik-container {
  display: flex;
  justify-content: center;
  background-color: #f0e9e2;
  overflow: hidden;
}

.statistik-container img {
  height: 60vh;
}

.handbild-container img {
  height: 30vh;
}

.checklist-title {
  font-size: 24px;
  font-family: "Anton", sans-serif;
  text-align: center;
}

#checklist-title {
  scroll-margin-top: 80px;

}

#tarinat {
  scroll-margin-top: -100px;

}

h2 {
  margin-left: 2%;
}

@media (min-width: 320px) {
  .statistik-container img {
    height: 25vh;
  }
}

@media (min-width: 375px) {

  .rubrik {
    font-size: 28px;
  }
  .text {
    max-width: 60vw;
  }
  .statistik-container img {
    height: 30vh;
  }
}

@media (min-width: 414px) {
  .text {
    font-size: 18px;
  }
}

@media (min-width: 600px) {

  .layout {
    background: linear-gradient(160deg, #f0e9e2 50%, #E98A45 50%);
  }

  .rubrik {
    font-size: 46px;
  }

  .text {
    font-size: 24px;
    max-width: 70vw;
  }

  .default-button {
    width: 30vw;
    margin-top: 2%;
    align-self: center;
    height: 60px;
    font-size: 24px;
    margin-top: 8vh;
  }

  .clicked-button {
    width: 26vw;
    font-size: 28px;
  }
  #checklist-title {
    text-align: center;
  }

  .handbild-container img {
    height: 40vh;
  }
  .checklist-title {
    font-size: 30px;
  }
  .statistik-container img {
    height: 40vh;
  }
}

@media (min-width: 1024px) {
  .rubrik {
    font-size: 48px;
    padding-bottom: 0;
    
  }
  .text {
    font-size: 24px;
    max-width: 40vw;
  
  }
  .default-button {
    font-size: 30px;
    height: 70px;
    width: 25vw;
    margin-top: 2vh;
  }

  .checklist-title {
    font-size: 34px;
  }

}

@media (min-width: 1200px) {
  .rubrik {
    font-size: 50px;
  }

  .text {
    font-size: 28px;
  }

  .default-button {
    margin-top: 4vh;
  }

  .handbild-container img {
    height: 50vh;
  }
}



@media (min-width: 2000px) {
  .rubrik {
    font-size: 74px;
  }
  .text {
    font-size: 50px;
  }
  .default-button {
    width: 18vw;
    font-size: 50px;
    margin-top: 4vh;
  }
  .handbild-container img {
    width: 26vw;
  }
  .layout {
    background: linear-gradient(165deg, #f0e9e2 50%, #E98A45 50%);
  }
  .statistik-container img {
    height: 80vh;
  }
}


.statistics-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}


  