body {
  background-color: white;
  margin: 0;
}

.layout {
  display: flex;
  height: 70vh;
  position: relative;
  background: linear-gradient(160deg, #f0e9e2 50%, #d17933 50%);
  overflow: hidden;
  padding: 2vh;
  flex-direction: column;
}

.default-button {
  width: 30%;
  height: 6vh;
  border-radius: 20px;
  background-color: rgb(11, 31, 126);
  color: white;
  font-size: 20px;
  margin-top: 5%;
}

.clicked-button {
  width: 30%;
  height: 6vh;
  border-radius: 20px;
  background-color: rgb(11, 31, 126);
  color: white;
  font-size: 20px;
  margin-top: 5%;
  margin-left: 5%;
}

.rubrik {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  gap: 1%;
  text-align: left;
}

.text {
  font-size: 24px;
}


