

.bottom-fill {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  border-top: 2px solid #e0e1dd;
  box-sizing: border-box;
}

.socials-logo-text {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.socials-logo-text img {
  width: clamp(30px, 5vw, 40px);
  height: auto;
}

.socials-logo-text a,
.ilmoitus-link {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 500;
  color: black;
  text-decoration: none;
  transition: color 0.2s ease;
}

.socials-logo-text a:hover,
.ilmoitus-link:hover {
  text-decoration: underline;
  color: #e98a45;
}

@media (max-width: 420px) {
  .socials-logo-text {
    gap: 0.75rem;
  }
}


@media (min-width: 2000px) {
  .socials-logo-text a,
  .ilmoitus-link {
    font-size: 1.5rem;
  }
}
@media (min-width: 3000px) {
  .socials-logo-text a,
  .ilmoitus-link {
    font-size: 1.875rem;
  }
}
