.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto; /**fel enligt validator*/
    font-weight: bold;
    font-style: normal;
}

.footer {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  text-align: center;           
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.05);
  width: 100%;
  min-height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;          
  
   
}
.footer-content {        
    margin: 0 auto;           
    padding: 0.75rem 1rem;    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-links {
    display: flex;
    flex-wrap: nowrap;         
    justify-content: space-evenly; 
    width: 100%; 
    gap: clamp(0.75rem, 6vw, 15vw);
    margin: 1vw;
  }
  
  .footer-links a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
  }
  .footer-links a:hover {
    color: #E98A45;
    text-decoration: underline;
  }

@media (max-width: 420px) {
    .footer-links {
      gap: 0.75rem;
    }
}

@media (min-width: 2000px) {
  .footer-links a {
    font-size: 24px;
  }
}

@media (min-width: 3000px) {
  .footer-links a {
    font-size: 30px;
  }
}
