body {
    background-color: white;
    margin: 0;
  }

.numerot-wrapper {
    background: linear-gradient(135deg, #E98A45 50%, #f0e9e2 50%);
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

.main-title {
    font-family: "Anton", sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}


.bubbles-container {
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.bubble {
    background-color: white;
    border-radius: 40px;
    padding: 20px 30px;
    max-width: 300px;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.quote-container {
    display: grid;
    grid-template-columns: 2;
    gap: 30px;
    align-items: center;
    justify-content: center
}

.quote {
    background-color: white;
    border-left: 4px solid #ccc;
    padding: 20px 25px;
    max-width: 600px;
    border-radius: 20px;
    font-style: italic;
    font-size: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

@media (min-width: 600px) {
    .numerot-wrapper {
        background: linear-gradient(160deg, #E98A45 50%, #f0e9e2 50%);
    }

    .bubbles-container {
        grid-template-columns: repeat(2, 40vw);
    }

    .main-title {
        font-size: 30px;
    }
}

@media (min-width: 1024px) {
    .main-title {
        font-size: 34px;
    }
}

@media (min-width: 2000px) {
    .numerot-wrapper {
        background: linear-gradient(165deg, #E98A45 50%, #f0e9e2 50%);
        
    }

}