


h3 {
    color: rgb(11, 31, 126);
}
body {
    background: linear-gradient(135deg, #f0e9e2 50%, #E98A45 50%);
    justify-content: center;
    align-items: center;
}


.chat-container {
    width: 90%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0);
    margin: 1%;
    justify-content: center;
    align-items: center;
}
  
.chat {
    background-color: white;
    width: 90vw;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #101010;
    border-radius: 5px;
}

.sender {
    margin-bottom: 6px;
    text-align: center;
    background-color: #e5e5ea84;
    border-bottom: #707072;
    padding-bottom: 15px;
    padding-top: 15px;
}
  
.bubble.left {
    background: #e5e5ea;
    padding: 12px 16px;
    border-radius: 20px;
    max-width: 80%;
    margin-bottom: 20px;
    margin-top: 50px;
    display: inline-block;
    margin-left: 1%;
}
  
.options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 2%;
    width: 90%;
    margin-left: 3%;
}

.options button {
    flex: none;
    background-color: #007aff;
    height: 48px;
    border-radius: 20px;
    cursor: pointer;
    padding: 12px 16px;
    margin: 1%;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 40%;
    font-weight: bolder;
}
  
.options button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
  
.feedback {
    margin-top: 40px;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    flex: 2;
    max-width: 30%;
    text-align: center;
    z-index: 10;
}
  
.fBack {
    display: flex;
    justify-content: center;
}

.feedback.correct {
    color: #2e7d32;
    background-color: #c8e6c9;
}
  
.feedback.wrong {
    color: #c62828;
    background-color: #ffcdd2;
}


.result {
    width: 90%;
    margin: 50px auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 80%;
    align-items: center;
    font-size: 28px;
}

.result button {
    width: 40%;
    align-self: center;
    height: 48px;
    border-radius: 20px;
    border-color: white;
    background-color: #007aff;
    color: white;
    font-size: 20px;
    margin-top: 15%;
    margin-bottom: 5%;
}

@media (min-width: 600px) {
    .chat {
        max-width: 600px;
    }
}

