

body {
    margin: 0;
}

.stories-container {
    background-color: #f0e9e2;
    overflow: hidden;
    padding: 180px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}



.story-description {
    height: auto;
    max-width: 540px;
    min-width: 400px;
    background-color: white;
    margin: 20px; 
    padding: 32px 24px;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #333;
}


.story-description p {
    margin: 0;
    white-space: pre-line;
}


.story-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 5vh;
    position: relative;
    gap: 2vw;
}

.artikel1 {
    flex-direction: row;
  }

.artikel2 {
    flex-direction: row-reverse;
  }

.artikel3 {
    flex-direction: row;
  }

.storykuva1{
    border-radius: 30px;
    width: 53vh;
    max-width: 500px;
    height: auto;
    margin: 20px;
}

.storykuva3 {
    border-radius: 30px;
    width: 32vh;
    max-width: 500px;
    height: auto;
    margin: 20px;
}

.storyheadline {
    display: flex;
    justify-content: center;
    font-size: 24px;
}



.quote-bubble1,
.quote-bubble2,
.quote-bubble3 {
    position: absolute;
    background-color: rgb(22, 44, 145);
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-style: italic;
    color: white;
    font-weight: lighter;
    font-size: 14px;
    border-radius: 900px;
    font-size: clamp(14px, 1.5vw, 20px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.quote-bubble1 {
    bottom: 35%;
    left: 18%;
    padding: 1em 2em;
    max-width: 15vw;
}


.quote-bubble2 {
    bottom: 40%;
    left: 55%;
    padding: 1em 2em;
    max-width: 20vw;
}

.quote-bubble3 {
    bottom: 1%;
    left: 10%;
    padding: 1.3em 2.5em;
    max-width: 15vw;
}


/*.quote-bubble1,
.quote-bubble2,
.quote-bubble3 {
    display: inline-block;
    background-color: rgb(22, 44, 145);
    color: white;
    font-size: 1.6vw; /* Gör textstorleken responsiv 
    padding: 4vw 3vw;
    border-radius: 50vw; /* Gör dem alltid runda 
    max-width: 20vw; /* Anpassar bubblans bredd 
    text-align: center;
    font-family: Arial, sans-serif;
    font-style: italic;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    position: absolute;
}

/* Specifika positioneringar 
.quote-bubble1 {
    left: 30%; 
    bottom: 35%;
    transform: translate(-50%, 10%);
}

.quote-bubble2 {
    right: 30%; 
    bottom: 40%;
    transform: translate(50%, 5%);
}

.quote-bubble3 {
    left: 25%; 
    bottom: 15%;
    transform: translate(-50%, 5%);
}
*/
@media (max-width: 600px){

    .stories-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
      }
    
    .story-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0;
        flex-direction: column;
      }
      
    .storyheadline {
        display: flex;
        justify-content: center;
        text-align: left;
        width: 90%;
        font-size: 18px;
        padding: 10px;
      }
    
    .storykuva1 {
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 30px;
        padding: 0%;
        margin: 0 auto;
      }

    .storykuva3 {
        width: 100%;
        max-width: 100px;
        height: auto;
        border-radius: 30px;
        margin-bottom: 16px;
        margin: 0 auto;
      }
    
    .story-description {
        width: 80%;
        max-width: 400px;
        min-width: 250px;
        background-color: white;
        padding: 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        line-height: 1.4;
        color: #333;
        margin:0%;
      }


    .quote-bubble1,
    .quote-bubble2,
    .quote-bubble3 {
        position: static;
        display: flex;
        align-items: center;
        background-color: rgb(22, 44, 145);
        color: white;
        font-weight: lighter;
        font-size: 14px;
        padding: 20px 30px;
        border-radius: 30px;
        max-width: 250px;
        font-family: Arial, sans-serif;
        line-height: 1.5;
        font-style: italic;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    }

}

@media (min-width: 601px) and (max-width: 1024px) {
    
    

    .stories-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
      }
    
    .story-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 1vw;
        flex-direction: column;
      }
      
    .storyheadline {
        display: flex;
        justify-content: center;
        text-align: left;
        width: 100%;
        font-size: 18px;
        padding: 10px;
      }
    
    .storykuva1 {
        width: 100%;
        max-width: 700px;
        height: auto;
        border-radius: 30px;
        padding: 0;
        margin: 0 auto;
      }

    .storykuva3 {
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 30px;
        margin: 0 auto;
      }
    
    .story-description {
        width: 100%;
        max-width: 500px;
        background-color: white;
        padding: 30px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        line-height: 1.4;
        color: #333;
        margin:0%;
      }


    .quote-bubble1,
    .quote-bubble2,
    .quote-bubble3 {
        position: static;
        display: flex;
        align-items: center;
        background-color: rgb(22, 44, 145);
        color: white;
        font-weight: lighter;
        font-size: 14px;
        padding: 20px 30px;
        border-radius: 30px;
        max-width: 500px;
        font-family: Arial, sans-serif;
        line-height: 1.5;
        font-style: italic;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    }

}


@media (min-width: 1025px) and (max-width: 1230px) {


    .quote-bubble1,
    .quote-bubble2,
    .quote-bubble3 {
        position: absolute;
        background-color: rgb(22, 44, 145);
        font-family: Arial, sans-serif;
        line-height: 1.5;
        font-style: italic;
        color: white;
        font-weight: lighter;
        font-size: 14px;
        border-radius: 900px;
        font-size: clamp(14px, 1.5vw, 20px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        z-index: 10;
    }

    .quote-bubble1 {
        bottom: 50%;
        left: -15%;
        padding: 1em 2em;
        max-width: 18vw;
    }

    .quote-bubble2 {
        bottom: 55%;
        left: 80%;
        padding: 1em 2em;
        max-width: 25vw;
    }

    .quote-bubble3 {
        bottom: 25%;
        left: -4%;
        padding: 1em 2.3em;
        max-width: 15vw;
    }
}
@media (min-width: 1231px) and (max-width: 1500px) {
   

    .quote-bubble1,
    .quote-bubble2,
    .quote-bubble3 {
        position: absolute;
        background-color: rgb(22, 44, 145);
        font-family: Arial, sans-serif;
        line-height: 1.5;
        font-style: italic;
        color: white;
        font-weight: lighter;
        font-size: 14px;
        border-radius: 900px;
        font-size: clamp(14px, 1.5vw, 20px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        z-index: 10;
    }

    .quote-bubble1 {
        bottom: 45%;
        left: -5%;
        padding: 1em 2em;
        max-width: 18vw;
    }

    .quote-bubble2 {
        bottom: 55%;
        left: 70%;
        padding: 1em 2em;
        max-width: 25vw;
    }

    .quote-bubble3 {
        position: absolute;
        bottom: 15%;
        left: -4%;
        padding: 1em 2.3em;
        max-width: 15vw;
    }
}

@media (min-width: 1501px) and (max-width: 2000px) {

    .storyheadline {
        font-size: 48px;
      }
    .story-description {
        font-size: 30px;
        max-width: 800px;
    }

    .quote-bubble1,
    .quote-bubble2,
    .quote-bubble3 {
        position: absolute;
        background-color: rgb(22, 44, 145);
        font-family: Arial, sans-serif;
        line-height: 1px;
        font-style: italic;
        color: white;
        font-weight: lighter;
        font-size: 100px;
        border-radius: 900px;
        font-size: clamp(14px, 1.5vw, 20px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        z-index: 10;
    }

    .quote-bubble1 {
        bottom: 50%;
        left: 15%;
        padding: 1em 2em;
        max-width: 18vw;
    }

    .quote-bubble2 {
        bottom: 55%;
        left: 50%;
        padding: 1em 2em;
        max-width: 25vw;
    }

    .quote-bubble3 {
        bottom: 30%;
        left: 5%;
        padding: 1em 2.3em;
        max-width: 15vw;
    }


}

@media (min-width: 2000px) {

    .quote-bubble1 {
        bottom: 40%;
        
        padding: 1em 2em;
        max-width: 18vw;
    }

    .quote-bubble2 {
        bottom: 40%;
        left: 55%;
        padding: 1em 2em;
        max-width: 25vw;
    }

    .quote-bubble3 {
        bottom: 10%;
        left: 40%;
        padding: 1em 2.3em;
        max-width: 15vw;
    }

    .storyheadline {
        font-size: 52px;
    }


}

@media (min-width: 3000px) {
    .quote-bubble1 {
        bottom: 50%;
        left: 15%;
        padding: 1em 2em;
        max-width: 20vw;
        font-size: 30px;
    }

    .quote-bubble2 {
        bottom: 50%;
        left: 58%;
        font-size: 30px;
        padding: 1em 2em;
        max-width: 20vw;
    }

    .quote-bubble3 {
        bottom: 8%;
        left: 20%;
        padding: 1em 2.3em;
        max-width: 15vw;
        font-size: 30px;
    }

    .story-description {
        font-size: 30px;
        max-width: 900px;
    }
}